$facebookblue: hsl(208, 92%, 53%);
$twitterblue: hsl(203, 89%, 53%);
$instagramgradient1: hsl(37, 97%, 70%);
$instagramgradient2: hsl(329, 70%, 58%);
$youtubered: hsl(348, 97%, 39%);
$light-cardbg: hsl(227, 47%, 96%);

@mixin desktop {
	@media (min-width: 1440px) {
		@content;
	}
}
html {
	box-sizing: border-box;
}
img {
	display: block;
}
*, *:before, *:after {
	box-sizing: inherit;
}
* {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-decoration: none;
}
body {
	padding: 1rem;
}
.dashboard {

}
.header {
	display: flex;
	flex-direction: column;
	@include desktop {
		flex-direction: row;
		justify-content: space-between;
	}
	&__textbox {
		border-bottom: 1px solid grey;
		padding-bottom: 1rem;
		@include desktop {
			border: none;
		}
	}
	&__toggledark {
		padding: 1rem 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__togglelabel {
		color: grey;
	}
	&__togglebutton {
		width: 60px;
		background-color: grey;
		height: 20px;
	}
}
.dashboard {
	&__cardlist {
		display: flex;
		flex-direction: column;
		@include desktop {
			flex-direction: row;
			justify-content: space-between;
		}
	}
}
.followercard {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 10px;
	background-color: $light-cardbg;
	overflow: hidden;
	margin-bottom: 1rem;
	@include desktop {
		width: 24%;
	}
	&__decoline {
		width: 100%;
		height: 5px;
		&--facebook {
			background-image: linear-gradient(to right, $facebookblue, $facebookblue);
		}
		&--twitter {
			background-image: linear-gradient(to right, $twitterblue, $twitterblue);
		}
		&--instagram {
			background-image: linear-gradient(to right, $instagramgradient1, $instagramgradient2);
		}
		&--youtube {
			background-image: linear-gradient(to right, $youtubered, $youtubered);
		}
	}
	&__platformbox {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 1rem 0;
	}
	&__icon {
		margin-right: 0.5rem;
	}
	&__user {

	}
	&__followercount {
		margin-bottom: 1rem;
	}
	&__follower {

	}
	&__updatebox {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 1rem 0;
	}
	&__arrowicon {
		margin-right: 0.5rem;
	}
	&__updatetext {

	}
}

.overview {
	&__title {
		margin-bottom: 1rem;
	}
	&__list {
		display: flex;
		flex-direction: column;
		@include desktop {
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
		}
	}

}

.updatecard {
	background-color: $light-cardbg;
	border-radius: 10px;
	margin-bottom: 1rem;
	padding: 1.5rem;
	@include desktop {
		width: 24%;
	}
	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 2rem;
	}
	&__label {

	}
	&__icon {

	}
	&__bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__count {

	}
	&__updatebox {
		display: flex;
		align-items: center;
	}
	&__arrow {
		margin-right: 0.5rem;
	}
}